body{
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 6fr;
}

#sidebar{
    background-color: #0f172a;
    grid-row: 1 / 3;
}

#header{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50%;
    background-color: #f8fafc;
    grid-column: 2 / 4;
}

#projects-container{
    background-color: #94a3b8;
    display: grid;
    grid-template-rows: 10% 90%;
    padding: 15px;
}

#projects-window{
    overflow-y: auto;
}

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
}

.project{
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 10px;
    border-radius: 10px;
    background-color: #f8fafc;
    overflow: hidden;
    gap: 5px;
    padding-left: 5px;
}

/* .project-title{
    border: solid black;
} */

.project-title p{
    margin:5px;
    align-self: center;
}

.tab{
    grid-row: 1 / 4;
    grid-column-start: 2;
    background-color: #020617;
}
.project-image-container{
    background-color: #0f172a;
    border-radius: 5px;
}

.icons-container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
    /* border: solid black; */
}

.icon{
    width: 20px;
    height: 20px;
}

#info-container{
    background-color: #94a3b8;
    display: grid;
    grid-template-rows: 50%;
    padding-right: 15px;
    padding-bottom: 15px;
}

#announcements-container, #trending-container{
    display: grid;
    grid-template-rows: 20% 80%;
}

#announcements, #trending{
    border-radius: 10px;
    background-color: #f8fafc;
}

